.shadow-img, video, iframe[data-src] {
    box-shadow: inset 0 0 0 1px #ccc;
}

.shadow-img-size {
	width: 100px;
	height: 100px;
}

.popup-img {
	max-height: 500px;
	max-width:  500px;
}

.navbar-nav iframe {
    margin-top: 10px;
    margin-bottom: 10px;
}

.imagelightbox {
    position: fixed;
    z-index: 9999;
    -ms-touch-action: none;
    touch-action: none;
}